rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }
    function isSuperAdmin() {
      return isSignedIn() && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'super';
    }
    function isAdmin() {
      return isSignedIn() && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role in ['admin', 'super'];
    }
    function isUser() {
      return isSignedIn() && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'user';
    }
    match /users/{uid} {
      allow read: if isSignedIn() && (request.auth.uid == uid || isAdmin());
      allow write: if isSignedIn() && (request.auth.uid == uid || isAdmin());
    }
    match /companies/{companyId} {
      allow read: if isSignedIn();
      allow write: if isAdmin();
      match /employees/{employeeId} {
        allow read: if isSignedIn();
        allow write: if isAdmin();
      }
    }
  }
}